
.race{
  border: none;
  box-shadow: 3px 3px 10px #e10600;

}
.race .race_number {
  position: absolute;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  border: solid red;
}
#footer{
  display: flex; 
flex-flow: column no-wrap; 
justify-content: space-between;
}
footer {
  background-color: #e10600;
  color: #fff;
  /* position:absolute;
  bottom: 0; */
  width: 100%;
  padding: 2.5%;

  align-self: flex-end;
}
footer a{
  border: solid;
  background-color: #fff;
  color: #e10600;
  border-radius: 50%;
  padding: 1%;
  margin: 2.5%;
  border-color: #fff;
  font-size: large;
}
footer a:hover{
  border: solid;
  background-color: #e10600;
  color: #fff;
  
 
}
footer h5{
  font-size: 1.25rem;
}
footer p{
  font-size: 1rem;
}
#home{
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 5%;
  min-height: 100vh;
}
.indCard{
  width: 100%;
  height: fit-content;
  /* display: inline; */
}
.indCard .position{
  width: 10%;display: inline-block;
}
.indCard .number{
  width: 10%;display: inline-block;
}
.indCard .name{
  width: 65%;display: inline-block;
}
.indCard .points{
  width: 15%;display: inline-block;
}
.pointsTable{
  margin-bottom: 10%;
}
.half-cont{
  display: inline-block;
}

.circuitCard{
  width: 100%;
}
#circuitCard .card-deck img{
  width: 30%;
}
#circuitCard .card-deck{
  font-size: 0;
  margin-bottom: 5%;
}
#circuitCard .card-deck .circuitCard .card-body{
  font-size: medium;
}
#circuitCard .card-deck .circuitCard .card-footer{
  font-size: medium;
}
#yearTable_Table tbody{
  overflow: auto;
  max-height: 160px;
}
#yearTable_Table thead{
  position: sticky;
}