body{
  background-color: #111213;
  color: #fff;
  overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css?family=Shrikhand');

#bottomImg{
width: 50%;
margin-bottom: -5%;
margin-left: -3%;
margin-top: -12%;
 align-self: flex-end;
}
/* Footer CSS */
#footer{
  display: flex; 
flex-flow: column no-wrap; 
justify-content: space-between;
}
footer {
  background-color: 	#111213ff;
  color: #dc3545;
  width: 100%;
  padding: 2.5%;
  align-self: flex-end;
  padding-bottom: 0.5%;
  border-top: double;
  border-color: #e10600;
}
footer a{
  border: none;
  /* background-color: #fff; */
  color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 10%;
  padding: 1%;
  margin: 2.5%;
  border-color: #fff;
  font-size: 25px;
}
footer a:hover{
  border: none;
  background-color: transparent;
  color: #dc3545;
}
footer h5{
  font-size: 1.25rem;
}
footer p{
  font-size: 1rem;
}
/* Navbar CSS */
nav{
  background-color: #111213ff;
  
  border-bottom: double #e10600;
}
.nav-item button{
  background: transparent;
  color: #dc3545;
  border-style: ridge;
  border-color: #dc3545;
}
.nav-item button:hover{
  border-style: dotted;
  box-shadow: inset 2.5px 2.5px #dc3545 ;
}
.nav-item .active button{

box-shadow: -5px 5px #dc3545 ;
}
.navbar-brand img{
  width: 6%;
  
}
.navbar-toggler img{
  width: 10%;
  display: inline;
}
/* preloader css */
.preloader{
  margin-left: 0% !important;
  margin-right: 0 !important;
  width: 50vw;
  height: 50vh;
  margin-bottom: 60vh;
padding-top: 10%;
}
.large .preloader{
  width: 80%;
  margin-left: 10%;
  height: 80vh;
}
.small .preloader{
  width: 80%;
  height: 80%;
}
/* OFFSEASON CSS */
.offseason {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Shrikhand', cursive;
  margin: 0;
  background-color: transparent;
  border: none;
  box-shadow: 3px 3px 10px #e10600;
  background-color: transparent;
  padding: 5%;
}
.podium {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.podium .podium__number {
  background-color: #e10600;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.podium .podium__place {
  text-align: center;
}
.podium .podium__image img {
  border-radius: 50%;
  width: 125px;
  height: 125px;
}
.podium .podium__1st-place .podium__number {
  width: 80px;
  height: 80px;
}
.podium .podium__1st-place .podium__box {
  height: 150px;
  font-size: 60px;
  width: 200px;
}
.podium .podium__1st-place .podium__border.podium__border--left {
  height: 70px;
}
.podium .podium__1st-place .podium__border.podium__border--right {
  height: 90px;
}
.podium .podium__2st-place .podium__number {
  width: 50px;
  height: 50px;
}
.podium .podium__2st-place .podium__box {
  height: 100px;
  font-size: 40px;
  padding-left: 20px;
}
.podium .podium__3st-place .podium__number {
  width: 35px;
  height: 35px;
}
.podium .podium__3st-place .podium__box {
  height: 80px;
  font-size: 20px;
  padding-right: 20px;
}
.podium .podium__box {
  width: 150px;
  background-color: transparent;
  margin-top: 10px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.podium .podium__box .podium__border {
  top: 0;
}
.podium .podium__border {
  position: absolute;
  background-color: #e10600;
}
.podium .podium__border.podium__border--top, .podium .podium__border.podium__border--bottom {
  height: 15px;
  width: 100%;
}
.podium .podium__border.podium__border--left, .podium .podium__border.podium__border--right {
  width: 15px;
  height: 100%;
}
.podium .podium__border.podium__border--left {
  left: 0;
}
.podium .podium__border.podium__border--right {
  right: 0;
}
.podium .podium__border.podium__border--top {
  top: 0;
}
.podium .podium__border.podium__border--bottom {
  bottom: 0;
  transform: translateY(100%) translateX(-30px);
  width: calc(100% + 60px);
  border-radius: 10px;
}
.podium .podium__bubbles {
  border-radius: 50%;
}
.podium .podium__bubbles.podium__bubbles--style1 {
  background-color: #e10600;
  width: 15px;
  height: 15px;
  position: absolute;
}
.podium .podium__bubbles.podium__bubbles--style2 {
  background-color: #e10600;
  width: 10px;
  height: 10px;
  position: absolute;
}
.podium .podium__bubbles.podium__bubbles--style1-left {
  left: 0;
  transform: translateX(calc(-100% - 5px));
}
.podium .podium__bubbles.podium__bubbles--style2-left {
  left: 0;
  top: 5px;
  transform: translateX(calc(-100% - 35px));
}
.podium .podium__bubbles.podium__bubbles--style1-right {
  right: 0;
  transform: translateX(calc(100% + 5px));
}
.podium .podium__bubbles.podium__bubbles--style2-right {
  right: 0;
  top: 5px;
  transform: translateX(calc(100% + 35px));
}
.podium .podium__medal {
  font-size: 50px;
}
/* Drivers CSS*/
#driverCard , #constructorCard , #circuitCard{
  margin-bottom: 10%;
  /* display: inline; */
}
.driverCard{
background: #212224ff;
border-style: groove;
border-color: #e10600;
box-shadow: 5px -5px #e10600;
}
.driverCard a:hover{
  text-decoration: underline;
  color: #e10600;
}
.driverCard a{
  text-decoration: none;
  color: #e10600;
}
/* Constructors CSS */
.constructorCard {
  padding: 5%;
  background: #212224ff;
border-style: groove;
border-color: #e10600;
box-shadow: 5px -5px #e10600;
}
#circuitCard h1{
  color: #fff;
}
.constructorCard a:hover{
  text-decoration: underline;
  color: #e10600;
}
.constructorCard a{
  text-decoration: none;
  color: #e10600;
}
/* Circuits CSS */
#circuitCard{
  color: #111213ff;
}
.circuitCard {
  
  background: #212224ff;
border-style: groove;
border-color: #e10600;
box-shadow: 5px -5px #e10600;
}
.circuitCard  a:hover{
  text-decoration: underline;
  color: #e10600;
}
.circuitCard  a{
  text-decoration: none;
  color: #e10600;
}
.circuitCard .card-img-top{
  margin-top: 2.5%;
  width: 30%;
  height: 15%;
}
.circuitCard .layout {
  width: 80%;
  margin-left: 5%;
}
.circuitCard .card-body{
  padding-bottom: 0;
}
.circuitCard .card-footer {
  padding: .75rem 1.25rem;
  background-color: rgba(0,0,0,.03);
  border-top: 2px solid rgb(#e10600 / 64%);
}
.circuitCard .card-text{
  color: #fff;
}
.circuitCard small{
  color: #fff;
}
.CCflag img{
  width: 50px;
  height: 40px;
}
#bottom{
  
  border-bottom: double;border-color: #e10600;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #111213ff;
  /* height: 0.5vh; */
}
.race{
  border: none;
  box-shadow: 3px 3px 10px #e10600;
  background-color: transparent;
  padding: 5%;
}
.race .race_number {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 2.5vw; */
  height: 2.5vw;
  padding: 2%;
  border-radius: 0 10px 10px 0px;
  border: solid #e10600;
  border-left: none;
  border-top: none;
}
.race .card-img-top{
  width: 80%;
  margin-left: 10%;
}
.race .card-title{
  
  text-align: center;
  color: #e10600;
}

.race .first{
  width: 100%;
  text-align: center;
  border: solid;
  border-color: #e10600;
  height: 40%;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.5rem
}
.race .second , .race .third{
  display: inline-block;
  text-align: center;
  border: solid;
  border-color: #e10600;
  width: 50%;
  height: 40%;
  vertical-align: middle;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.25rem
}
#card-img-NEXT{
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}
.countdownCard{
  background-color: transparent;
  width: 100%;
  border: solid;
  border-color: #e10600;
  margin-right: 0 !important;
  margin-left: 0% !important;
  
}
.countdownCard .card-body{
  padding: 0.25rem !important;
  vertical-align: middle;
}
.countdownCard span{
  color:#fff;
  font-family: 'Pacifico', cursive;
  font-size: 4rem;padding-right: 5%;
}
.countdownCard .NextSeasonCountdown{
  font-size: 30px;font-family: 'Source Code Pro', monospace;

}
.position{
  padding-top: 10px;
  width: 50px;
}
#home{
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 5%;
  min-height: 100vh;
}

.half-cont{
  display: inline-block;
}
.home_Table tr{
  color: #111213ff;
}
.home_Table td {
  color: #fff;
}
.pointsTable h2, .offseason h1{
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 2.5%;
}
.positionTable, .number, .points, .CCflag{text-align: center;}
.home_Table thead th{
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  color: #e10600;
  border-bottom: double ;
  border-color: #e10600;
  font-size: 1.25rem;
}
 .home_Table td, .home_Table th {
   vertical-align: middle;
   align-items: center;
  border-style: double;
  border-color: #e10600;
}
.number, .points{
  font-family: 'Pacifico', cursive;
  font-size: 1.75rem;
  text-shadow: 5px 5px 0px #e10600;
}
.name{
  font-family: 'Rubik', sans-serif;
  font-size: 1.15rem;
}
/* Results CSS */
#raceResults select{
  width: 20%;
  text-align: center;
  height: 5vh;
  font-size: 3vh;
  margin-left: 40%;
  background-color: transparent;
  border-color: #e10600;
  color: #fff;
}
#raceResults select:focus{
  background-color: #111213ff;
  border-color: #e10600;
  color: #fff;
}
#yearTable_Table tbody{
  overflow: auto;
  max-height: 160px;
}
#yearTable_Table thead{
  position: sticky;
}
#yearTable_Table, #yearTable_Table td, #yearTable_Table th {
  border-style: double;
  border-color: #e10600;
}
#yearTable_Table th{
  color: #e10600;
  text-align: center;
}
#yearTable_Table tr{
  background-color: #111213ff;
  border-color: #e10600;
}
.resultsBtn{
  border-color: #e10600;
  background-color: transparent;
  color: #e10600;
  box-shadow: 5px 5px #e10600;
}
.resultsBtn:hover{
  border-color: #e10600;
  background-color: transparent;
  color: #e10600;
  box-shadow: 5px -5px #e10600;
}
#ResultsTable_Table ,#ResultsTable_Table td, #ResultsTable_Table th{
  border-style: double;
  border-color: #e10600;
}
#ResultsTable_Table th{
  color: #e10600;
  text-align: center;
  font-weight: 900;
  font-size: 1.25rem;
}
.container-cust{
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
}
.header-year{
  color: #e10600;
  font-size: 1.5rem;
}
.resultsTab h1{
  color: #e10600;
}
.resultsTab h5{
  margin-bottom: 2.5%;
}
.perNum {
  float: right;
  font-family: 'Pacifico', cursive;
  font-size: 1.25rem;
}
@media screen and (max-width: 768px) {
  .navbar-brand{
    display: inline;
    width: 17.5%;
  }
  .navbar-brand img{
    width:100%;
  }
  .navbar-toggler{
    float: right;
    display: inline;
    width: 15%;
  }
  .navbar-toggler img{
    width: 100%;
  }
  .race .card-img-top{
    width: 50%;
    margin-left: 25%;
  }
  .race .card-img-top img{
    width: 100%;
  }
  .race .race_number {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 2.5vw; */
    height: 5vh;
    padding: 2%;
    border-radius: 0 10px 10px 0px;
    border: solid #e10600;
    border-left: none;
    border-top: none;
}
.position{
  width: 35px;
}
.race .second, .race .third {
  display: inline-block;
  width: 100%;
  height: 40%;
  font-size: 1.25rem;
}
#previous_card , #current_card{
  margin-bottom: 5%;
}
#driverCard .card-deck , #constructorCard .card-deck, #circuitCard .card-deck {
  width: 80%;
  margin-left: 10%;
}
#bottomImg{
  display: none;
}
#raceResults select {
  width: 50%;
  text-align: center;
  height: 5vh;
  font-size: 3vh;
  margin-left:25%;
  background-color: transparent;
  border-color: #e10600;
  color: #fff;
}
.header-year{
  display: inline;
}
.offseason {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Shrikhand', cursive;
  margin: 0;
  background-color: transparent;
  border: none;
  box-shadow: 3px 3px 10px #e10600;
  background-color: transparent;
  padding: 5%;
}
.podium {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.podium .podium__number {
  background-color: #e10600;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.podium .podium__place {
  text-align: center;
}
.podium .podium__image img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
.podium .podium__1st-place .podium__number {
  width: 80px;
  height: 80px;
}
.podium .podium__1st-place .podium__box {
  height: 150px;
  font-size: 60px;
  width: 150px;
}
.podium .podium__1st-place .podium__border.podium__border--left {
  height: 70px;
}
.podium .podium__1st-place .podium__border.podium__border--right {
  height: 90px;
}
.podium .podium__2st-place .podium__number {
  width: 50px;
  height: 50px;
}
.podium .podium__2st-place .podium__box {
  height: 100px;
  font-size: 40px;
  padding-left: none;
  /* width: 150px; */
}
.podium .podium__3st-place .podium__number {
  width: 35px;
  height: 35px;
}
.podium .podium__3st-place .podium__box {
  height: 80px;
  font-size: 20px;
  padding-right: 20px;
}
.podium .podium__box {
  width: 100px;
  background-color: transparent;
  margin-top: 10px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.podium .podium__box .podium__border {
  top: 0;
}
.podium .podium__border {
  position: absolute;
  background-color: #e10600;
}
.podium .podium__border.podium__border--top, .podium .podium__border.podium__border--bottom {
  height: 15px;
  width: 100%;
}
.podium .podium__border.podium__border--left, .podium .podium__border.podium__border--right {
  width: 15px;
  height: 100%;
}
.podium .podium__border.podium__border--left {
  left: 0;
}
.podium .podium__border.podium__border--right {
  right: 0;
}
.podium .podium__border.podium__border--top {
  top: 0;
}
.podium .podium__border.podium__border--bottom {
  bottom: 0;
  transform: translateY(100%) translateX(0px);
  width: calc(100%);
  border-radius: 10px;
}
.podium .podium__bubbles {
  border-radius: 50%;
}
.podium .podium__bubbles.podium__bubbles--style1 {
  background-color: #e10600;
  width: 15px;
  height: 15px;
  position:absolute;
}
.podium .podium__bubbles.podium__bubbles--style2 {
  background-color: #e10600;
  width: 10px;
  height: 10px;
  position: absolute;
}
.podium .podium__bubbles.podium__bubbles--style1-left {
  left: 0;
  transform: translateX(calc(100%));
}
.podium .podium__bubbles.podium__bubbles--style2-left {
  left: 0;
  top: 5px;
  transform: translateX(calc(100%));
}
.podium .podium__bubbles.podium__bubbles--style1-right {
  right: 0;
  transform: translateX(calc(100% + 50px));
}
.podium .podium__bubbles.podium__bubbles--style2-right {
  right: 0;
  top: 5px;
  transform: translateX(calc(100% + 55px));
}
}